# Binarios
/backend/server
/backend/tests

# Código objeto y librerías
*.o
*.so
*.a

# LaTeX
informe.pdf
tex/*.pdf
tex/*.aux
tex/*.toc
tex/*.log

# Directorio con código original de referencia
/backend-mono

# Sublime Text
*.sublime-project
*.sublime-workspace

# Eclipse
.project
.cproject