# Binarios
/backend/server
/backend/tests

# Código objeto
*.o

# Código objeto y binarios de websockify
rebind.o
rebind.so

# LaTeX
informe.pdf
tex/*.pdf
tex/*.aux
tex/*.toc
tex/*.log

# Directorio con código original de referencia
/backend-mono

# Sublime Text
*.sublime-project
*.sublime-workspace

# Eclipse
.project
.cproject